/*样式重置开始*/
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
/*样式重置结束*/

/*通用样式开始*/
.wrapper{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
/*通用样式结束*/

/*header开始*/
.header{
    height: 95px;
}
.header .wrapper{
    position: relative;
    /*background: #cccccc;*/
}
#logo{
    width: 245px;
    height: 71px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}
.search{
    width: 262px;
    height: 30px;
    border: 1px solid #EA3939;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 280px;
}
.search .search-input{
    width: 212px;
    height: 30px;
    border: 0;
    text-indent: 5px;
}
.search .search-submit{
    width: 50px;
    height: 30px;
    background: #EA3939;
    color: #FFFFFF;
    border: 0;
    float: right;
}
.top-icon{
    width: 210px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -15px;
}
.top-icon li{
    width: 33px;
    height: 30px;
    margin: 0 7px 0 30px;
    float: left;
}
.top-icon li.qq{
    background: url(../imgs/header/top_qq.jpg);
}
.top-icon li.qq:hover{
    background: url(../imgs/header/top_qq_h.png) no-repeat;
}
.top-icon li.weibo{
    background: url(../imgs/header/top_weib.jpg);
}
.top-icon li.weibo:hover{
    background: url(../imgs/header/top_weib_h.png) no-repeat;
}
.top-icon li.email{
    background: url(../imgs/header/top_you.jpg);
}
.top-icon li.email:hover{
    background: url(../imgs/header/top_you_h.png) no-repeat;
}
/*header结束*/

/*nav开始*/
.nav{
    width: 100%;
    height: 50px;
    background: #EB3939;
}
.menu{
    height: 50px;
}
.menu li{
    width: 135px;
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}
.menu li.selected{
    background: #a61c00;
}
.menu li a{
    color: #FFFFFF;
    font-size: 14px;
}
/*nav结束*/

/*banner开始*/
.banner{
    width: 100%;
    height: 390px;
    background-image: url(../imgs/banner/01.jpg);
    position: relative;
}
.intro{
    width: 446px;
    height: 88px;
    background: url(../imgs/banner/qw.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -223px;
    top: 90px;
}
.intro .qw_1{
    margin-left: 120px;
    font-size: 13px;
    color: #FFFFFF;
    position: absolute;
    top: -5px;
}
.intro .qw_2{
    width: 445px;
    height: 59px;
    margin-left: 20px;
    font-size: 33px;
    font-weight: bold;
    color: #EA3939;
    line-height: 88px;
}
.intro .qw_2 span{
    color: #000;
    margin-left: 20px;
}
.intro .qw_3{
    margin-left: 50px;
    font-size: 13px;
    color: #FFFFFF;
    position: absolute;
    bottom: -5px;
}
.number{
    width: 232px;
    height: 32px;
    background: url(../imgs/banner/fg_dh.png) no-repeat;
    position: absolute;
    left: 50%;
    margin-left: -121px;
    bottom: 150px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}
.number span{
    margin-left: 30px;
}
/*banner结束*/

/*news开始*/
.news{
    height: 174px;
    margin-top: 20px;
    background: #cccccc;
}
.news-1, .news-2{
    width: 334px;
    height: 174px;
    float: left;
    background: #ff0000;
}
.news-1{
    margin-right: 40px;
}
.news-3{
    width: 340px;
    height: 171px;
    float: right;
    background: #ff0000;
}
/*news结束*/

/*contact开始*/
.contact{
    height: 317px;
    margin: 10px 0 20px 0;
    background: #cccccc;
}
.contact .wrapper div{
    float: left;
    background: #ff0000;
}
.contact-1{
    width: 298px;
    height: 317px;
    margin-right: 10px;
}
.contact-2{
    width: 276px;
    height: 315px;
}
.contact-3{
    width: 505px;
    height: 315px;
}
/*contact结束*/

/*返回顶部开始*/
#go-top{
    width: 25px;
    height: 25px;
    /*display: none;*/
    position: fixed;
    right: 5px;
    bottom: 50px;
    background: url(../imgs/gotop.png) no-repeat -26px 0;
}
#go-top:hover{
    background: url(../imgs/gotop.png) no-repeat 0 0;
}
/*返回顶部结束*/





