*{
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
}
#container{
    width: 600px;
    height: 500px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
}
#content{
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
#content img{
    width: 600px;
    height: 400px;
    position: absolute;
}
#prev, #next{
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 9;
    top: 170px;
    opacity: 0;
    filter: alpha(opacity = 0);
}
#prev{
    left: 10px;
    background-image: url(imgs/btn.gif);
    background-position: 0 0;
}
#next{
    right: 10px;
    background-image: url(imgs/btn.gif);
    background-position: 0 -60px;
}
#info{
    width: 590px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    bottom: 0;
    padding-right: 10px;
}
#info span{
    float: right;
    line-height: 30px;
}
#small-pic{
    width: 1300px;
    height: 100px;
    background: #eeeeee;
    position: absolute;
    bottom: 0;
}
#small-pic img{
    width: 140px;
    height: 80px;
    padding: 10px 0 10px 8px;
    float: left;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}
#small-pic .selected{
    opacity: 1;
    filter: alpha(opacity = 100);
}
