/*样式重置开始*/
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
/*样式重置结束*/

/*通用样式开始*/
.wrapper{
    width: 1002px;
    height: 100%;
    margin: 0 auto;
}
/*通用样式结束*/

/*nav开始*/
#nav{
    height: 120px;
}
#nav .wrapper{
    /*background: #cccccc;*/
    position: relative;
}
#logo{
    margin-top: 36px;
}
#menu{
    position: absolute;
    top: 51px;
    left: 334px;
}
#menu li{
    float: left;
}
#menu li a{
    font-size: 15px;
    color: #626262;
}
#menu li a:hover{
    color: #42baff;
}
#menu span{
    width: 1px;
    height: 14px;
    float: right;
    margin: 4px 25px 0 25px;
    background: url(../imgs/sprite.png) no-repeat 0 0;
}
#search{
    float: right;
    margin-top: 45px;
    position: relative;
}
#search-input{
    width: 130px;
    height: 30px;
    outline: none;
    border: 0;
    text-indent: 5px;
    background: #f1f3f6;
}
#search span{
    width: 10px;
    height: 12px;
    background: url(../imgs/sprite.png) no-repeat -1px 0;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 5px;
    cursor: pointer;
}
/*nav结束*/