/*banner¿ªÊ¼*/
#banner{
    height: 460px;
    background: url(../imgs/banner-bg.png);
}
#banner .wrapper{
    position: relative;
}
#banner .arrows{
    width: 29px;
    height: 50px;
    background-image: url(../imgs/sprite.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -25px;
}
#banner .prev{
    background-position: 0 -14px;
    left: 0;
}
#banner .next{
    background-position: -30px -14px;
    right: 0;
}
#imgs img{
    width: 944px;
    height: 460px;
    display: none;
}
#imgs .selected{
    display: block;
}
/*banner½áÊø*/